<h1>Admin::Items#new</h1>


<div class="container px-5 px-sm-0">
  <h2>商品新規登録</h2>
  <div class="row">
    <p>商品名</p>
    <div class="col-md-8 offset-md-1">
      <div class="col">
        <%= form_with model: @item do |f| %>
          
          <%= f.text_field :item_name, placeholder: "商品名", style: "width:100%" %>
          <%= f.text_area :item_description, rows: '5', placeholder: "ここに商品名を記述します", style: "width:100%" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :item_genre %>
          <%= f.text_field :price, placeholder: "1000", style: "width:100%" %>
          <%= f.radio_button :is_selling, true, checked: true %><%#= f.label %>
          <%= f.radio_button :is_selling, false %>
          <%= f.submit "送信", class: "btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
