<div class="container px-5 px-sm-0">
  <div class="row p-5">
    <h2>商品詳細</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @item.image, size: "200x200" %>
    </div>
    <div class="col-md-2">

      <p>商品名</p>
      <p>商品説明</p><br><br><br><br><br>
      <p>ジャンル</p>
      <p>
        税込価格<br>（税抜価格）
      </p>
      <p>販売ステータス</p>
    </div>

    <div class="col-md-4 offset-md-1 mx-auto">
      <p><%= @item.item_name %></p>
      <p><%= @item.item_description %></p><br><br><br><br><br>
      <p><%= @item.genre.item_genre %></p>
      <p><%= (@item.price * 1.1).round.to_s(:delimited)  %>（<%= @item.price.to_s(:delimited)  %>）円</p><br>
      <% if @item.is_selling == true %>
          <p class="text-success">販売中</p>
      <% else %>
          <p class="text-secondary">販売停止中</p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mx-auto">
      <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>
    </div>
  </div>
</div>