<div class="container">
  <p>配送先編集</p>
<div class="row">
<div class="col-10">
<%= form_with model: @address, url: address_path, method: :patch do |f| %>
  <div>
    <%= f.label :post_code, '郵便番号　' %>
    <%= f.text_field :post_code %>
  </div>
  <div>
    <%= f.label :address, '住所　　　' %>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label :name, '宛名　　　' %>
    <%= f.text_field :name %>
    <%= f.submit '変更内容を保存', class: 'btn btn-sm btn-success' %>
  </div>
<% end %>