<%= stylesheet_link_tag 'public/items' %>
<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'admin/genres/genresearch',genres: @genres %>
    </div>
    <div class="col-8 d-flex flex-wrap">
      <h2 class="item_index">商品一覧</h2>
      <div class="row">
      <% @items.each do |item| %>
      <div class='col-3'>
            <% if item.is_selling == true %>
              <% if item.image.attached? %>
                <%= link_to item_path(item.id) do %>
                  <%= image_tag item.image, size: "160x160" %>
                <% end %>
              <% end %>
              <p class=""><%= item.item_name %></p>
              <p><%= (item.price * 1.1).round.to_s(:delimited)  %>円</p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <%= paginate @items %>
  </div>
</div>