<%= stylesheet_link_tag 'public/items' %>
<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'admin/genres/genresearch',genres: @genres %>
    </div>
    <div class="col-8">
      <div class="d-flex align-items-baseline">
        <h2>
          <%= @genre.present? ? @genre.item_genre + "一覧" : "商品一覧" %>
        </h2>
        <h5>
          （全<%= @genre_count.present? ? @genre_count : @item_count %>件）
        </h5>
      </div>
      <div class="row">
      <% @items.each do |item| %>
      <div class='col-4'>
            <% if item.is_selling == true %>
              <% if item.image.attached? %>
                <%= link_to item_path(item.id) do %>
                  <%= image_tag item.image, size: "160x160" %>
                <% end %>
              <% end %>
              <p class=""><%= item.item_name %></p>
              <p><%= (item.price * 1.1).round.to_s(:delimited)  %>円</p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <%= paginate @items %>

  </div>
</div>