<%= stylesheet_link_tag 'public/homes' %>
<nav class="navbar navbar-expand-lg" style="background-color: #FFFFFF;">

  <div class="container">
    <div class="row">
      <a class="navbar-brand p-3" href="/"></a>
        <% if customer_signed_in? %>
          <h4 class="navbar-text mt-5">ようこそ、<%= current_customer.family_name %>さん！</h4>
        <% end %>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <%= render 'layouts/headeradmin' %>
          <% elsif customer_signed_in? %>
            <%= render 'layouts/headercustomer' %>
          <% else %>
            <%= render 'layouts/headersignin' %>
          <% end %>
        </ul>
      </div>
      <div class="row ml-auto">
      <form>
        <input type="text" placeholder="例：ショートケーキ">
        <input type="submit" value="検索">
      </form>
      </div>
    </div>
  </div>
</nav>